{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Instalacion</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Codigo</th>
                <td>{{ entity.codigo }}</td>
            </tr>
            <tr>
                <th>Ubicacion</th>
                <td>{{ entity.ubicacion }}</td>
            </tr>
            <tr>
                <th>Cantidadsecciones</th>
                <td>{{ entity.cantidadSecciones }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('instalacion') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('instalacion_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
