<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('media/css/jquery.dataTables.css')}}"/>
        <link rel="stylesheet" type="text/css" href="{{asset('resources/syntax/shCore.css')}}"/>
        <link rel="stylesheet" type="text/css" href="{{asset('resources/demo.css')}}"/>
        <style type="text/css" class="init"></style>
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <script type="text/javascript" language="javascript" src="{{asset('media/js/jquery.js')}}"></script>
        <script type="text/javascript" language="javascript" src="{{asset('media/js/jquery.dataTables.js')}}"></script>
        <script type="text/javascript" language="javascript" src="{{asset('resources/syntax/shCore.js')}}"></script>
	<script type="text/javascript" language="javascript" src="{{asset('resources/demo.js')}}"></script>
        <script type="text/javascript" language="javascript" class="init">
        $(document).ready(function() {
	$('#example').dataTable();
} );
</script>
    </body>
</html>
