{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Espacio</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Area</th>
                <td>{{ entity.area }}</td>
            </tr>
            <tr>
                <th>Codigo</th>
                <td>{{ entity.codigo }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
            <tr>
                <th>Tipoproducto</th>
                <td>{{ entity.tipoproducto }}</td>
            </tr>
            <tr>
                <th>Costosugerido</th>
                <td>{{ entity.costosugerido }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ entity.estado }}</td>
            </tr>
            <tr>
                <th>Costoreal</th>
                <td>{{ entity.costoreal }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('espacio') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('espacio_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
